DOMAIN=localhost

GO_PORT=8080

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=main
DB_USERNAME=admin
DB_PASSWORD=admin123
DB_ROOT_PASSWORD=root123

JWT_SECRET=INISECRET#KHUSUSTESTINGAJAHFWMA>FA403t3womwjogh
